:root {
  --blue: #2777ba;
  --orange: #ed553b;
  --grey: #212121;
  --black: #000;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
main {
  overflow: scroll;
  max-height: 100vh;
  max-width: 100vw;
}

nav {
  background: var(--secondaryBackgroundColor);
  height: 100px;
  border-bottom: 2px solid #383838;
  padding: 15px 20px;
  display: flex;
  overflow-y: hidden; /* Hide vertical scrollbar */
}

.divider {
  background: var(--borderColor);
  width: 1px;
  border-radius: 1px;
  height: 100%;
}

.add-icon {
  margin: 0 30px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  align-self: center;
}

.hall {
  height: 100%;
  background: var(--tertiaryBackgroundColor);
  border-radius: 12px;
  padding: 12px;
  border: 0px solid var(--grey);
  margin-right: 30px;
  transition: all ease-in-out 200ms;
}

.hall:hover {
  border: 1px solid var(--blue);
  transition: all ease-in-out 200ms;
}

.hall-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin-left: 10px;
}

.hall-image {
  float: left;
  height: 100%;
  width: 45px;
  background-image: linear-gradient(45deg, var(--blue), var(--orange));
  border-radius: 12px;
  margin-right: 1vh;
}

.hall-name {
  font-size: 0.9rem;
  font-weight: 600;
}

.student-count {
  display: block;
  font-size: 0.7rem;
  color: var(--secondaryTextColor);
}

.user {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.user-avatar {
  width: 50px;
  border-radius: 12px;
  height: 50px;
  background: #2777ba;
}

.user-name {
  margin-left: 15px;
}

.user-settings-icon {
  margin-left: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.server-settings-icon {
  justify-self: flex-end;
  margin-left: 30px;
  cursor: pointer;
}

.sidenav {
  float: right;
  height: calc(100vh - 100px);
  width: 25vw;
  background: var(--secondaryBackgroundColor);
  border-left: 2px solid #383838;
  padding: 40px;
}

.server-name {
  text-transform: uppercase;
  font-size: calc(0.8em + 0.5vw);
  margin-bottom: 10px;
}

.server-code {
  color: var(--secondaryTextColor);
  font-size: calc(0.7em + 0.3vw);
}

.member-heading {
  font-size: calc(0.7em + 0.3vw);
  text-transform: uppercase;
  margin-top: 45px;
}

.member-avatar {
  width: 38px;
  border-radius: 12px;
  height: 38px;
  background: #2777ba;
  margin-right: 15px;
}

.member {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.member-name {
  color: var(--secondaryTextColor);
  font-size: calc(0.7em + 0.3vw);
}

.server-info {
  display: flex;
  align-items: center;
}

.main {
  /* width: 75vw; this was fuking everything*/
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden; /* Hide vertical scrollbar */
}

/*server interface (main menu)*/

.search-bar {
  background: var(--secondaryBackgroundColor);
  border: 2px solid var(--borderColor);
  margin-top: 50px;
  height: 60px;
  width: 90%;
  border-radius: 40px;
  padding: 30px;
}

.server-interface-buttons {
  display: flex;
  width: 90%;
  margin-top: 25px;
}

.new-thread-button {
  margin-left: auto;
}

button {
  background: var(--primaryColor);
  padding: 12px 40px;
  border: none;
  border-radius: 200px;
  text-transform: uppercase;
}

.question {
  margin-top: 25px; /* this shit is doing a fuky wuky */
  display: flex;
  width: 90%;
  padding: 20px;
  background: var(--secondaryBackgroundColor);
  border-radius: 12px;
  border: 2px solid var(--borderColor);
  opacity: 0.7;
  transition: all ease-in-out 200ms;
}
.question:hover {
  opacity: 1;
  transition: all ease-in-out 200ms;
}

.answered-button {
  background: none;
}

.question-image {
  width: 45%;
  height: 100%;
  margin-left: 10px;
  background: blue;
}

.new-thread-button {
  background: var(--secondaryColor);
  opacity: 1;
  transition: all ease-in-out 200ms;
}
.new-thread-button:hover {
  opacity: 0.7;
  transition: all ease-in-out 200ms;
}

.question-text {
  width: 55%;
}

.question-title {
  font-size: calc(1em + 0.3vw);
  margin-bottom: 10px;
}

.posted-by-status {
  font-size: calc(0.5em + 0.3vw);
  color: var(--secondaryTextColor);
  margin-bottom: 10px;
}

.question-content {
  font-size: calc(0.7em + 0.3vw);
  font-weight: lighter;
  line-height: 1.5em;
}

/*chat interface*/
.chat {
  width: 20%;
  padding: 40px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  position: absolute;
}

.user-message {
  width: 90%;
}

.message {
  margin-right: auto;
  width: 100%;
}

.message:not(:first-child) {
  margin-top: 50px;
}

.message-user-info {
  display: flex;
  align-items: center;
}

.message-timestamp {
  color: var(--secondaryTextColor);
}

.message-question-title {
  margin-top: 20px;
}

.message-question-image {
  max-width: 50%;
  margin-top: 10px;
}

.message-text {
  margin-top: 10px;
  font-size: calc(0.7em + 0.3vw);
  line-height: 1.5em;
}

.message-input-bar {
  background: var(--secondaryBackgroundColor);
  border: 2px solid var(--borderColor);
  height: 60px;
  border-radius: 40px;
  padding: 30px;
  width: 92%;
}

.message-container:last-child {
  margin-bottom: 60px;
}

.back-button {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  padding: 0;
  margin-left: 20px;
  background: var(--secondaryBackgroundColor);
  border: 2px solid var(--borderColor);
}

.message-inputs {
  display: flex;
  position: fixed;
  align-items: center;
  bottom: 20px;
  width: calc(75vw - 40px);
}
.icon-settings {
  padding-left: 1vh;
  width: fit-content;
  filter: invert(100%);
  transition: all ease-in-out 200ms;
}
.icon-settings:hover {
  filter: invert(70%);
  transition: all ease-in-out 400ms;
}
.icon-add {
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2vh;
  margin-right: 2vh;
  filter: invert(100%);
  border: 60px #646464;
  border-radius: 12px;
  transition: all ease-in-out 200ms;
}
.icon-add:hover {
  transform: rotateZ(90deg);
  transition: all ease-in-out 400ms;
}

.icon-send {
  filter: invert(100%);
}
